
<%- include("partials/header") %> 


<%- include("partials/navbar")  %> 
  
    <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        ><div class="navbar-nav ms-lg-auto">
          <a class="nav-item text-center ms-3 mb-3 mb-lg-2" href="/easy">Easy</a>
          <a class="nav-item text-center ms-3 mb-3 mb-lg-2" href="/medium">Medium</a>
          <a class="nav-item text-center ms-3 mb-3 mb-lg-2" href="/advanced">Advanced</a>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h1 class="display-1 mb-5 text-white">Some random words for you</h1>
  <div class="row">

    <% for(let i = 0; i < 50; i++){ %>
    <%  const ran = Math.floor(Math.random() * 3); %>
    <%  const dataO = data[ran]; %>
    <%  const dex = Math.floor(Math.random() * dataO.length);%>
    <%  const wordObj = dataO[dex]; %>
    <%  if(wordObj.meaning != "") {  %> 

          <div class="col-12 col-lg-4 col-md-6 mb-3 home-cards" id="card-options" style="display: '';">
             <%- include("partials/card", 
                    {id: false,
                     word: wordObj.word, 
                     definition: wordObj.meaning.definition,
                     synomyms: wordObj.meaning.synonyms,
                     extra_info: wordObj.meaning.extra_info,
                     mnemonic: wordObj.mnemonic,
                     origin: ran,
                     index: dex
                    }) %> 
            </div>

        <% }
      } %>
  </div>
  <a class="text-decoration-none" 
      href="/"><h4 class="m-5 text-white text-center">Need more? Just hit here&nbsp;&nbsp;:)</h4></a>
</div>

<%- include("partials/modal") %> 


<%- include("partials/footer") %> 

