
<%- include("partials/header") %> 


<%- include("partials/navmodalhome")  %> 
<%- include("partials/navbar")  %> 
  
    <div
        ><div class="navbar-nav ms-lg-auto">
          <button type="button" class="nav-modal-close" data-bs-toggle="modal" data-bs-target="#navModal">
            <i class="bi bi-list"></i>
          </button>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <%- include("partials/search", {query}) %>
  <% if (!search) { %> 
  <h1 class="display-1 mb-5 text-white">Some random words for you</h1>
  <div class="row">

    <% for(let i = 0; i < 50; i++){ %>
    <%  const ran = Math.floor(Math.random() * 5); %>
    <%  const dataO = data[ran]; %>
    <%  const dex = Math.floor(Math.random() * dataO.length);%>
    <%  const wordObj = dataO[dex]; %>
    <%  if(wordObj.meaning != "") {  %> 

          <div class="col-12 col-lg-4 col-md-6 mb-3 home-cards" id="card-options" style="display: '';">
             <%- include("partials/card", 
                    {id: false,
                     word: wordObj.word, 
                     definition: wordObj.meaning.definition,
                     synomyms: wordObj.meaning.synonyms,
                     extra_info: wordObj.meaning.extra_info,
                     mnemonic: wordObj.mnemonic,
                     origin: ran,
                     index: dex
                    }) %> 
            </div>

        <% }
      } %>
  </div>
  <a class="text-decoration-none" 
      href="/"><h4 class="m-5 text-white text-center">Need more? Just hit here&nbsp;&nbsp;:)</h4></a>
</div>
<% } else { %>
  <% if(query != '') { %> 
    <h3 class="display-5 mb-5 text-white">Search Results for <b><i><%= query %> </i></b></h3>
  <% } else { %> 
    <h3 class="display-5 mb-5 text-white">Showing all words</h3>
  <% } %> 
  <div class="row">

    <% for(let obj of resultSet) { %> 
      <%  const origin = obj.origin; %> 
      <%  const index = obj.index; %> 
      <%  const wordDat = data[origin][index];%> 

      <div class="col-12 col-lg-4 col-md-6 mb-3 home-cards" id="card-options" style="display: '';">
             <%- include("partials/card", 
                    {id: false,
                     word: wordDat.word, 
                     definition: wordDat.meaning.definition,
                     synomyms: wordDat.meaning.synonyms,
                     extra_info: wordDat.meaning.extra_info,
                     mnemonic: wordDat.mnemonic,
                     origin: origin,
                     index: index
                    }) %> 
            </div>
    <% } %>
  </div>

<% } %>

<%- include("partials/modal") %> 


<%- include("partials/footer") %> 

<script type="text/javascript" src="../js/searchData.js"></script>
<script type="text/javascript" src="../js/sClient.js"></script>