<%- include("partials/header") %> 

<%- include("partials/navbar")  %> 
  
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    ><div class="navbar-nav ms-lg-auto">
        <a class="nav-item text-center ms-3 mb-3 mb-lg-2<% if(difficulty === "easy") {  %> selected <% } %> " href="/words/easy">Easy</a>
        <a class="nav-item text-center ms-3 mb-3 mb-lg-2<% if(difficulty === "medium") {  %> selected <% } %> " href="/words/medium">Medium</a>
        <a class="nav-item text-center ms-3 mb-3 mb-lg-2<% if(difficulty === "advanced") {  %> selected <% } %> " href="/words/advanced">Advanced</a>
        <a class="nav-item text-center ms-3 mb-3 mb-lg-2<% if(difficulty === "ets-essential") {  %> selected <% } %> " href="/words/ets-essential">ETS Essential</a>
        <a class="nav-item text-center ms-3 mb-3 mb-lg-2<% if(difficulty === "ets-advanced") {  %> selected <% } %> " href="/words/ets-advanced">ETS Advanced</a>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-5">

    <div class="row">

    <% if(difficulty === "easy") { %>

        <%- include("partials/offcanvas", {max: 347}) %>
        <%- include("partials/cardRender", {obj: data[0], origin: 0})  %> 

    <% } else if(difficulty === "medium") { %> 

      <%- include("partials/offcanvas", {max: 502}) %>
      <%- include("partials/cardRender", {obj: data[1], origin: 1})  %> 

    <% } else if(difficulty === "advanced"){ %> 

      <%- include("partials/offcanvas", {max: 537}) %>
      <%- include("partials/cardRender", {obj: data[2], origin: 2})  %> 

    <% } else if(difficulty === "ets-essential"){ %> 

      <%- include("partials/offcanvas", {max: 491}) %>
      <%- include("partials/cardRender", {obj: data[3], origin: 3})  %> 

    <% } else {%>

      <%- include("partials/offcanvas", {max: 487}) %>
      <%- include("partials/cardRender", {obj: data[4], origin: 4})  %> 

    <% } %>

    </div>
</div>

<%- include("partials/modal") %> 


<%- include("partials/footer") %> 