<%- include("partials/header") %> 

<%- include("partials/navbar")  %> 
  
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    ><div class="navbar-nav ms-lg-auto">
        <a class="nav-item text-center ms-3 mb-3 mb-lg-2<% if(difficulty === "easy") {  %> selected <% } %> " href="/easy">Easy</a>
        <a class="nav-item text-center ms-3 mb-3 mb-lg-2<% if(difficulty === "medium") {  %> selected <% } %> " href="/medium">Medium</a>
        <a class="nav-item text-center ms-3 mb-3 mb-lg-2<% if(difficulty === "advanced") {  %> selected <% } %> " href="/advanced">Advanced</a>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-5">
    <div class="row">

    <% if(difficulty === "easy") { %>

        <%- include("partials/cardRender", {obj: data[0]})  %> 

    <% } else if(difficulty === "medium") { %> 

      <%- include("partials/cardRender", {obj: data[1]})  %> 

    <% } else { %> 

      <%- include("partials/cardRender", {obj: data[2]})  %> 

    <% } %> 

    </div>
</div>


<%- include("partials/footer") %> 